
/* Inicio estilos Navbar*/
.navbar-brand{
    font-family: "Franklin Gothic Medium";
}
/* Fin estilos Navbar*/

/* Inicio estilos Banner*/
.content-container {
    display: flex;
    height: 400px; 
}

.text-container {
    flex: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5; 
}

.image-container {
    flex: 1;
    position: relative;
    padding: 0%;
    overflow: hidden; 
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
/* Fin estilos Banner*/

/* Inicio estilos About*/

.about-section{
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 0;

}
.about-section .about-inner{
    position: relative;
    display: flex;
    align-items: center;

}

.about-section .right{
    position: relative;
    width: 50%;
    padding-right: 50px;
}

.about-section .right .desc{
    padding-top: 3rem;
    padding-bottom: 2rem;



}

.about-section .left img{
    position: relative;
    width: 100%;
    object-fit: cover;


}

.title span{
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    padding: 4px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: black;
    color: #fff;
}

.title h2{
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 27px;
    font-weight: 800;
    line-height: 1.4;
    color: #000;

}

.about-section .left{
    position: relative;
    width: 50%;
    padding-left: 50px;

}

.button a{
    position: relative;
    display: inline-block;
    padding: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid;
    background-color: #474747;
    color: #fff;
    transition: all .5s ease;

}

.button a:hover{
    background-color: transparent;
    color: #2f2f2f;
}
/* Final estilos About*/












